<p>Olś <%= @resource.email %>!</p>

<p>Foi solicitado um link para alterar sua senha. Você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa solicitação, por favor ignore esse E-mail</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
